/* @import 'reset'; */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');

.main {
  max-width: 1000px;
  margin: 0 auto;
  background: linear-gradient(to bottom left, #310793, #D727A7);
}

.header {
  background-image: none;
  height: 500px;
}

.header h1 {
  color: #ffffff;
  font-size: 4em;
  text-align: center;
}

.header h2 {
  color: #ffffff;
  font-size: 2em;
  text-align: center;
}

.header a {
  color: #ffffff;
  font-size: 1.5em;
  text-align: center;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
}

.benefits {
  padding: 20px 0;
}

.benefits h2{
  font-size: 0.5em;
  margin: 1em 0;
}
.benefits li {
  list-style-type: none;
  margin-bottom: 10px;
}

.benefits li i {
  margin-right: 10px;
}

.form {
  width: 500px;
  margin: 0 auto;
}


.form input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form button {
  background-color: #000000;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1.5em;
  font-weight: bold;
}

.testimonials {
  padding: 20px 0;
}

.testimonials li {
  margin-bottom: 10px;
}

.testimonials li img {
  width: 100px;
  height: 100px;
  float: left;
  margin-right: 10px;
}

.testimonials li h3 {
  font-size: 1.5em;
}

.testimonials li p {
  margin-top: 5px;
}
